*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: lightseagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    min-width: 500px;
}

/*dvh=dynamic viewport height units
i have 4 rows so far (header,topnav,searchbarcontainer,footer) and i want them to take as much space as necessary-auto-
and for the main part of the page to be of 1 fraction unit=it will expand if theres space -solves annoying footer problems*/
#root{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.header{
    padding: 10px;
    text-align: center;
    background-color: white;
}

.topnav{
    width: 100%;
    background-color: teal;
}

.topnav a{
    float: left;
    display: block;
    padding: 10px 20px 10px 20px; /*top right bottom left*/
    background-color: teal;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.topnav a:hover{
    background-color: white;
    color: teal;
}

.searchBarContainer{
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    background-color: white;
    align-items: center;
}

#searchInput{
    width: 100%;
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#searchInput:focus{
    outline: none;
}

.searchBar button, .close{
    display: block;
    float: right;
    border: none;
    background-color: teal;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
}

.searchBar button:hover, .close:hover{
    background-color: white;
    cursor: pointer;
}

.searchBar button:hover #searchIcon, .close:hover #closeIcon{
    color: teal;
}

#searchIcon{
    color: white;
    width: 30px;
    height: 30px;
}

.bookComponents{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
}

.bookContainer{
    padding: 20px;
    background-color: lightgrey;
}

.bookInfo{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 300px;
}

.bookInfo img{
    height: 192px;
    width: 128px;
}

.info{
    margin: 0 20px 0 20px;
    width: fit-content; 
    display: flex; 
    flex-direction: column;  
}

.title{
    font-size: x-large;
    font-weight: bold;
    color: darkblue;
}

.bookInfoFooter{
    margin-top: auto;
}

.bookContainer:hover{
    background-color: white;
    cursor: pointer;
    border: 2px black;
    box-shadow: 10px 10px darkcyan;
}

.footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    background-color: teal;
    color: white;
}

/* responsive layout - for screens less than 450px wide */
@media screen and (max-width: 450px){

    .topnav a{
        float: none;
        width: 100%;
    }

    .bookInfo{
        flex-wrap: wrap;
    }

    .bookComponents{
        grid-template-columns: repeat(auto-fit, minmax(100%, 0.5fr));
    }

    .bookContainer{
        min-width: 100%;
        width: 100%;
    }

    .info{
        margin: 0;
        flex-wrap: wrap;
    }
}

/* for very small widths */
@media screen and (max-width: 215px){
    .bookInfo img{
        min-height: 100px;
        min-width: 80px;
        flex-grow: 0;
    }
}