*{
    box-sizing: border-box;
}

html{
    min-width: 320px; /*min screen width is 320px*/
}

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(119, 176, 170);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;    
}

/*dvh=dynamic viewport height units
i have 4 rows so far (header,topnav,searchbarcontainer,footer) and i want them to take as much space as necessary-auto-
and for the main part of the page to be of 1 fraction unit=it will expand if theres space -solves annoying footer problems*/
#root{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.header{
    padding: 20px;
    text-align: center;
    background-color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header a{
    border: none;
    cursor: pointer;
    background: transparent;
    width: fit-content;
    height: max-content;
    font-size: 100%;
    color: rgb(19, 93, 102);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

.header a:hover{
    color: rgb(0, 60, 67);
}

.header_title{
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
}

.header_sub{
    width: 50%;
    color: rgb(0, 60, 67);
}

.topnav{
    width: 100%;
    background-color: rgb(19, 93, 102);
}

.topnav a{
    float: left;
    display: block;
    padding: 10px 20px 10px 20px; /*top right bottom left*/
    background-color: rgb(19, 93, 102);
    text-align: center;
    text-decoration: none;
    color: snow;
    transition-duration: 0.4s;
}

.topnav a:hover{
    background-color: snow;
    color: rgb(19, 93, 102);
}

.searchBarContainer{
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    background-color: snow;
    align-items: center;
}

#searchInput{
    width: 100%;
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#searchInput:focus{
    outline: none;
}

.searchBar button{
    display: block;
    float: right;
    border: none;
    background-color: rgb(19, 93, 102);
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
}

.searchBar button:hover, .navBtns:hover{
    background-color: snow;
    cursor: pointer;
}

.searchBar button:hover #searchIcon, .searchBar button:hover #filterIcon, .navBtns:hover #prevIcon, .navBtns:hover #nextIcon{
    color: rgb(19, 93, 102);
}

#searchIcon, #filterIcon{
    color: snow;
    width: 30px;
    height: 30px;
}

#resultInfo{
    color: rgb(0, 60, 67);
}

.bookComponents{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
}

.bookContainer{
    padding: 20px;
    background-color: snow;
    transition: 5ms;
    min-width: 350px;
    min-height: fit-content;
}

.bookInfo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.mainInfo{
    display: flex;
    flex-direction: row;
}

.mainInfo img{
    height: 192px;
    width: 128px;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.title{
    font-size: x-large;
    font-weight: bold;
    color: rgb(0, 60, 67);
}

.bookInfoFooter{
    margin-top: auto;
    width: 100%;
    text-align: right;
    word-break: break-all;
}

.bookContainer:hover{
    cursor: pointer;
    box-shadow: 15px 15px rgb(19, 93, 102);
    margin-top: -15px;
    margin-bottom: 15px;
}

#pagesContainer{
    margin: auto;
    width: 100%;
}

.pages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    color: snow;
    width: fit-content;
    padding: 0;
    margin: auto;
}

.btns{
    border: 2px solid rgb(19, 93, 102);
    background-color: snow;
    color: rgb(19, 93, 102);
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btns:hover{
    color: snow;
    background-color: rgb(19, 93, 102);
    border: 2px solid snow;
    cursor: pointer;
}

.btns_active{
    color: snow;
    background-color: rgb(19, 93, 102);
    border: 2px solid snow;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.navBtns{
    background-color: rgb(19, 93, 102);
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
    border: none;
    color: snow;
}

#prevIcon, #nextIcon{
    color: snow;
    width: 20px;
    height: 20px;
}

/* responsive layout - for screens less than 450px wide */
@media screen and (max-width: 450px){
    .topnav a{
        float: none;
        width: 100%;
    }
    .bookComponents{
        grid-template-columns: repeat(auto-fit, minmax(100%, 0.5fr));
    }
    .bookContainer{
        width: 100%;
        min-width: fit-content;
    }
    .mainInfo{
        display: flex;
        flex-direction: column;
    }
    .info{
        padding: 0;
    }
}