/* more info feature */
/* this stops bg scrolling when more info feature is on display*/
body.moreInfo-active{
    overflow-y: hidden;
    overflow-x: hidden;
}

.moreInfo, .overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    background-color: rgb(0, 60, 67);
    opacity: 0.8;
}

#closeIcon{
    color: rgb(19, 93, 102);
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
}

.close{
    display: block;
    float: right;
    border: none;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
}

.close:hover{
    cursor: pointer;
}

.moreInfoContainer{
    position: absolute;
    background-color: snow;
    width: 80%;
    min-width: 320px;
    height: fit-content;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(19, 93, 102);
}

.moreInfoDetails{
    padding: 40px;
    height: 100%;
    width: 100%;
}

.moreInfo1{
    display: flex;
    flex-direction: row;
}

.moreInfo1 img{
    height: 192px;
    width: 128px;
}

.moreInfo1 .titles{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.moreInfo1 .subtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    text-align: justify;
}

.moreInfo2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.moreInfo2 span{
    padding: 5px 0 5px 0;
}

.moreInfo2 span b{
    color: rgb(0, 60, 67);
    font-size: large;
    text-transform: uppercase;
}

#desc{
    margin: 25px 0 15px 0;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: double rgb(19, 93, 102);
}

.evenMore{
    display: flex;
    justify-content: flex-end;
}

.evenMore button{
    padding: 5px 20px;
    border-radius: 25px;
    border: 1px solid rgb(19, 93, 102);
    background-color: rgb(19, 93, 102);
    color: snow;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}

.evenMore button:hover{
    background-color: snow;
    color: rgb(19, 93, 102);
    cursor: pointer;
    transition-duration: 0.2s;
}